---
import NavLink from "./NavLink.astro";

---

<div class="flex w-full bg-harlequin-300 h-12 hidden md:block" data-prefetch>
  <nav class="flex w-full">
    <ul class="flex flex-col md:flex-row justify-center space-x-10 w-full">
      <NavLink text="Home" ref="/" />
      <NavLink text="Blog" ref="/blog/" />
      <NavLink text="Books" ref="/books/" />
      <NavLink text="The Shrine" ref="/shrine/" />
    </ul>
  </nav>
</div>

<div
  class="flex flex-col w-full bg-harlequin-300 items-center justify-center align-center md:hidden"
  data-prefetch
>
  <button id="hamburger" type="button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-[50px] h-[50px]"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        strokeLinecap="round"
        strokeLinejoin="round"
        strokeWidth="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>

  <div
    id="mobile-menu"
    class="w-full bg-harlequin-300 flex flex-col items-center text-center hidden"
  >
    <ul class="space-y-10">
      <NavLink text="Home" ref="/" />
      <NavLink text="Blog" ref="/blog/" />
      <NavLink text="Books" ref="/books/" />
      <NavLink text="The Shrine" ref="/shrine/" />
    </ul>
  </div>
</div>
<script>
  const hamburger = document.getElementById("hamburger");
  const mobileMenu = document.getElementById("mobile-menu");

  hamburger.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
</script>
