---
let faceImgSrc = "/assets/homepage/santi_face.JPG";
---

<div class="w-full flex justify-center items-center text-center">
  <div class="max-w-4xl">
    <h1 class="text-4xl pb-3">Welcome to my website!</h1>
    <h2 class="text-2xl">About Me:</h2>
    <p>
      I am a Colombian born artist and software developer based in Columbus,
      Ohio. My other interests include philosophy, literature, nutrition, music,
      and weightlifting.
    </p>
    <h2 class="text-2xl">The Website:</h2>
    <p class="">
      This website is intended as a place for me to place my thoughts in a
      public place. It will also host information about my favorite things so I
      can share it easily with people.
    </p>
  </div>
</div>
