---
const { title, image, date, topics, tags, slug } = Astro.props;
const blogPath = "/blog/posts/" + slug;
function getTagPath(tag: string) {
  return "/blog/tags/" + tag;
}
---

<div class="w-80 min-h-32 outline outline-4 mx-3 my-4 px-4">
  <h1 class=""><a href={blogPath}>{title}</a></h1>
  <div class="flex">
    {tags.map((tag: string) => <a href={getTagPath(tag)}>|{tag}|</a>)}
  </div>
</div>
