---
const { name, image,link } = Astro.props;

---

<a href={link}>
  <div class="book-item p-10 drop-shadow-md">
    <img src={image} alt={name} + "cover image" class="w-72" />
    <h3 class="w-20 italic font-bold">{name}</h3>
    <p></p>
  </div>
</a>
