---
import Header from "../../components/homepage/Header.astro";
import Layout from "../../layouts/Layout.astro";
import BookDiv from "../../components/books/BookDiv.astro";
import { getCollection } from "astro:content";
const booksCollection = await getCollection("books");
console.log(booksCollection);
---

<Layout title="The Shrine">
  <Header />
  <div
    class="flex flex-col items-center text-center align-middle justify-center py-10"
  >
    <h1 class="text-6xl">The Shrine</h1>
    <p class="w-full text-center">
      The shrine is where my favorite things live. These things have changed my
      life in some way, sometimes opening a door to things I didn't know was
      possible..
    </p>

    <h1 class="text-6xl">THIS IS PAGE IS A WORK IN PROGRESS</h1>
  </div>
</Layout>
