---
export interface Props {
  title: string;
}
import Header from "../components/homepage/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="text-harlequin-700" }>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    font-family: "Martian Mono", monospace;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    font-style: bold;
  }
</style>
